// usage color(key)
$colors: (primary: black,
  f-title: #FFFFFF,
  f-text: #696969,
  blue-light: #169ED9,
  blue: #1495CC,
  blue-dark: #08384D,
  red-light: #D92B48,
  red: #CD2A44,
  red-dark: #4D0F1A,
  green-light: #D9D141,
  green: #CCC53D,
  green-dark: #4D4A17,
);

$primary: black;
$f-title: #FFFFFF;
$f-text: #696969;
$blue-light: #169ED9;
$blue: #1495CC;
$blue-dark: #08384D;
$red-light: #D92B48;
$red: #CD2A44;
$red-dark: #4D0F1A;
$green-light: #D9D141;
$green: #CCC53D;
$green-dark: #4D4A17;