$gutter: 16px;
$gutter-tablet: 18px;
$gutter-mobile: 20px;

$breakpoints: (480: 480px,
  768: 768px,
  1024: 1024px,
  1200: 1200px) !default;

  .background-gr-lighter {
    background-image: linear-gradient(180deg, $primary, $primary-light);
  }

  .background-gr-lighter-inv {
    background-image: linear-gradient(180deg, $primary-light, $primary);
  }

  .background-lighter {
    background-color: $primary-light;
  }

  .background-red {
    background-color: $red;
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  @keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes floating-2 {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 4px); }
  to   { transform: translate(0, -0px); }    
}

@keyframes floating-3 {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, -5px); }
  to   { transform: translate(0, -0px); }    
}

@keyframes floating-4 {
  from { transform: translate(0, -0px); }
  20%  { transform: translate(0, 50px);opacity: 0%;}
  80%  { transform: translate(0, 50px);opacity: 0%;}
  to   { transform: translate(0, -0px);opacity: 100%;}    
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.floating-2 {  
  animation-name: floating-2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.floating-3 {  
  animation-name: floating-3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.floating-4 {  
  animation-name: floating-4;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}