$gutter: 16px;
$gutter-tablet: 18px;
$gutter-mobile: 20px;

$breakpoints: (480: 480px,
  768: 768px,
  1024: 1024px,
  1200: 1200px) !default;

  .background-gr-lighter {
    background-image: linear-gradient(180deg, $primary, $primary-light);
  }

  .background-gr-lighter-inv {
    background-image: linear-gradient(180deg, $primary-light, $primary);
  }

  .background-lighter {
    background-color: $primary-light;
  }

  .background-red {
    background-color: $red;
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
