.cont-large {
  img {
    position: relative;
    margin-bottom: -223px;
    @media (max-width: 576px) {
      position: unset;
      margin-bottom: -305px;
      width: 10rem;
      text-align: center;
    }
    @media (max-width: 768px) { 
      width: 15rem;
      margin-bottom: -224px;
    }
    @media (max-width: 1200px) { 
      width: 80%;
      margin-bottom: -223px;
    }
  }
  
  .miniContainer {
    background-color: $purple;
    border-radius: 24px;
    text-align: end;
    width: 100%;
    max-height: 398px ;
    padding: $fs-D;

  
    a {
      background-color: #4d0f1a75;
      &:hover {
        transition: 2s eas-in-out 3s;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

  }
}
