.btn-green {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    color: black;
    background-color: $green;
    border-radius:0.5rem;
    &:hover{
        transition: 2s eas-in-out 3s;
        color: $f-title;
        background-color: $red-light;
    }
}

.btn-red {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    color: white;
    background-color: $red;
    border-radius:0.5rem;
    &:hover{
        transition: 2s eas-in-out 3s;
        color: $f-title;
        background-color: $red-light;
    }
}


.btn-blue {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    color: white;
    background-color: $blue;
    border-radius:0.5rem;
    &:hover{
        transition: 2s ease-in-out 3s;
        color: $f-title;
        background-color: $red-light;
    }
}

.btn-red-transparent {
    background: transparent;
    border: 1px solid $red;
    &:hover {
        background-color: $red;
    }
}

.btn-green-transparent {
    background: transparent;
    border: 1px solid $green;
    &:hover {
        color: $primary;
        background-color: $green;
    }
}

.btn-blue-transparent {
    background: transparent;
    border: 1px solid $blue;
    &:hover {
        background-color: $blue;
    }
}


  

.active {
    color: $blue;
  }

  .link-hold {
    color: white;
    transition:all 0.3s ease;
   &:hover{
     color: $red;
  }
  }
 

