.u-display--flex {
  display: flex !important;
  flex-wrap: wrap !important;
}

// center vertically and horizontally
.u-flex--center {
  justify-content: center !important;
  align-items: center !important;
}

.u-flex--justify-center {
  justify-content: center !important;
}

.u-flex--align-center {
  align-items: center !important;
}

.u-flex--grow {
  flex-grow: 1 !important;
}

.u-flex--shrink {
  flex-shrink: 1 !important;
}

.u-flex--row {
  flex-direction: row !important;
}

.u-flex--column {
  flex-direction: column !important;
}

.u-flex--space-around {
  justify-content: space-around !important;
}

h1 {
  font-weight: $fw-ex-bold;
  font-size: 5rem;
  text-transform: uppercase;
}

h2 {
  font-weight: $fw-bold;
  font-size: 3rem;
  text-transform: uppercase;
}

p {
  font-weight: $fw-light;
  font-size: 1.5rem;
  color: color(f-text);
}

.p-white{
  color: color(f-title);
}
.p-red{
  color: color(red);
}
.p-blue{
  color: color(blue);
}
.p-green{
  color: color(green);
}