.vheight-100 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @media (min-width: 600px) {
    justify-content: start;
  }
}

.vheight-75 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  @media (min-width: 600px) {
    justify-content: start;
  }
}

.vheight-50 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  @media (min-width: 600px) {
    justify-content: start;
  }
}

.vheight-25 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  @media (min-width: 600px) {
    justify-content: start;
  }
}
